{% extends "base.html" %}
{% block content %}

<div class="page-head">
  <h2>Scenario {{ current_index + 1 }} of {{ total_questions }}</h2>
  <div class="progress">
    <div class="progress-bar" style="width: {{ ((current_index) / total_questions) * 100 }}%;"></div>
  </div>
</div>

<div class="card quiz-card">
  <div class="chip">{{ question.type }}</div>

  <h3 class="scenario-text">{{ question.scenario }}</h3>

  <div class="extra-box">
    {{ question.extra }}
  </div>

  <form method="POST" class="answer-form">
    <button type="submit" name="answer" value="legit" class="btn legit">
      ✅ Legitimate
    </button>

    <button type="submit" name="answer" value="phishing" class="btn phishing">
      ❌ Phishing
    </button>
  </form>

  <div class="hint">
    Tip: Don’t trust urgency, suspicious domains, or unknown senders.
  </div>
</div>

{% endblock %}
